<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VirtualLoopPedal.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <VirtualLoopPedal.Properties.Settings>
            <setting name="Driver" serializeAs="String">
                <value>WaveEvent</value>
            </setting>
            <setting name="SampleRate" serializeAs="String">
                <value>44100</value>
            </setting>
            <setting name="DesiredLatency" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="BufferSize" serializeAs="String">
                <value>100</value>
            </setting>
        </VirtualLoopPedal.Properties.Settings>
    </userSettings>
</configuration>